<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Habits</title>
</head>
<body>
<header th:replace="~{fragment/menu :: header}">
</header>
<div class="container">
    <h2 th:text="${habit.name}" th:style="'background-color: ' + ${habit.category.color}"></h2>
    <p th:text="${habit.description}"></p>
<table>
    <thead>
    <tr th:style="'background-color: ' + ${habit.category.color}">
        <th>date</th>
        <th>completed</th>

        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${records}">
        <td th:text="${record.date}"></td>
        <td th:switch="${record.completed}">
            <p th:case="TRUE">&#10004;</p>
            <p th:case="FALSE">&#10008;</p>
        </td>
        <td>

            <form th:action="@{/records/change/{id}(id=${record.id})}" method="post">
                <input type="hidden" th:value="${habit.id}" name="habit_id">
                <button type="submit">change</button>
            </form>

        </td>
    </tr>
    </tbody>
</table>

</div>

</body>
</html>