<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
<header th:replace="~{fragment/menu :: header}">

</header>



<br>
<br>
<div class = "container">


    <h2>
        log in
    </h2>
            <form th:action="@{/login}" method="post" object="login_dto">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">invalid username or
                        password</div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">you have been logged out</div>
                </div>

                <div class = "form-group">
                    <label for ="username"> username/email:  </label>
                    <input type="text" class = "form-control" id ="username" name = "username"
                           placeholder="Enter Email ID" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="password">password: </label> <input type="password"
                                                                   id="password" name="password" class="form-control"
                                                                   placeholder="Enter Password" />
                </div>

                <div class="form-group">

                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="log in" />
                        </div>

                </div>
            </form>
            <div class="form-group">

      <span>new user? <a th:href="@{/registration}"><button>register here</button></a></span>
            </div>

</div>
</body>
</html>